USE [DBP11]
GO
/****** Object:  StoredProcedure [dbo].[SP_ANLCOM]    Script Date: 21/06/2023 12:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--EXEC [dbo].[SP_ANLCOM]

ALTER PROCEDURE [dbo].[SP_ANLCOM]
AS
BEGIN


	/* ######  FATURAMENTO #################################################################  */

	IF  EXISTS (SELECT *
	FROM dbo.sysobjects
	WHERE id = OBJECT_ID(N'[dbo].[ANL_ANLCOM]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[ANL_ANLCOM]


	CREATE TABLE [ANL_ANLCOM]
	(
		Id INT IDENTITY(1,1),
		ANO VARCHAR(4),
		MES VARCHAR(2),
		EMISSAO DATE,
		TIPONF VARCHAR(40),
		SERIE VARCHAR(4),
		DOC VARCHAR(80),
		PEDIDO VARCHAR(10),
		ITEMPV VARCHAR(6),
		PRODUTO VARCHAR(30),
		PRODUTO_DESC VARCHAR(200),
		TIPOPED VARCHAR(60),
		SEGMENTO VARCHAR(6),
		SEGMENTO_DESC VARCHAR(60),
		INDUSTRIA VARCHAR(6),
		INDUSTRIA_DESC VARCHAR(60),
		OS VARCHAR(10),
		OCORRENCIA_SER VARCHAR(40),
		CLIENTE VARCHAR(6),
		LOJA VARCHAR(4),
		CLIENTE_DESC VARCHAR(150),
		REGIAO VARCHAR(40),
		PAIS VARCHAR(40),
		UF VARCHAR(5),
		CIDADE VARCHAR(70),
		VENDEDOR VARCHAR(6),
		VENDEDOR_DESC VARCHAR(130),
		CF VARCHAR(20),
		TPDEV VARCHAR(50),
		TIPO VARCHAR(50),
		TIPOSER VARCHAR(50),
		LOCAL VARCHAR(50),
		MERC NUMERIC(10,3),
		QTD NUMERIC(10,3),
		FRETE NUMERIC(10,3),
		DESPESA NUMERIC(10,3),
		DESCONTO NUMERIC(10,3),
		BASE_ICM NUMERIC(10,3),
		ICMS NUMERIC(10,3),
		BASE_IPI NUMERIC(10,3),
		IPI NUMERIC(10,3),
		BASE NUMERIC(10,3),
		PIS NUMERIC(10,3),
		COF NUMERIC(10,3),
		PISEX NUMERIC(10,3),
		COFEX NUMERIC(10,3),
		TOTAL NUMERIC(10,3)
	)

		 UPDATE SCK010 SET
			CK_SEGPRI= ISNULL( ( SELECT TOP 1 A1_SEGPRI FROM SA1010 WHERE D_E_L_E_T_<>'*' AND A1_SEGPRI<>'' AND CK_CLIENTE = A1_COD),'      ')
		  WHERE 
		  --CK_SEGPRI = '' AND 
		  D_E_L_E_T_<>'*'
			AND CK_CLIENTE 
			IN ( SELECT A1_COD FROM SA1010 WHERE D_E_L_E_T_<>'*' AND A1_SEGPRI<>'')


			 UPDATE SCK010 SET
		CK_INDPRI = ISNULL( ( SELECT TOP 1 A1_INDPRI FROM SA1010 WHERE D_E_L_E_T_<>'*' AND A1_INDPRI<>'' AND CK_CLIENTE = A1_COD),'      ')
			  WHERE 
		  --CK_SEGPRI = '' AND 
		  D_E_L_E_T_<>'*'
			AND CK_CLIENTE 
			IN ( SELECT A1_COD FROM SA1010 WHERE D_E_L_E_T_<>'*' AND A1_INDPRI<>'')
			
			
		 UPDATE SC6010 SET
			C6_SEGPRI= ISNULL( ( SELECT TOP 1 A1_SEGPRI FROM SA1010 WHERE D_E_L_E_T_<>'*' AND A1_SEGPRI<>'' AND C6_CLI = A1_COD),'      ')
		  WHERE 
		--  C6_SEGPRI = '' AND 
		  D_E_L_E_T_<>'*'
			AND C6_CLI 
			IN ( SELECT A1_COD FROM SA1010 WHERE D_E_L_E_T_<>'*' AND A1_SEGPRI<>'')

			 UPDATE SC6010 SET
			C6_INDPRI = ISNULL( ( SELECT TOP 1 A1_INDPRI FROM SA1010 WHERE D_E_L_E_T_<>'*' AND A1_INDPRI<>'' AND C6_CLI = A1_COD),'      ')
		  WHERE
		  -- C6_SEGPRI = '' AND
		  
		   D_E_L_E_T_<>'*'
			AND C6_CLI 
			IN ( SELECT A1_COD FROM SA1010 WHERE D_E_L_E_T_<>'*' AND A1_INDPRI<>'')

	--VENDAS
	INSERT INTO [ANL_ANLCOM]
	SELECT
		SUBSTRING(D2_EMISSAO,1,4) AS ANO,
		SUBSTRING(D2_EMISSAO,5,2) AS MES,
		dbo.dateConv(D2_EMISSAO,2) AS EMISSAO,
		CASE 
		WHEN D2_SERIE = '1' THEN 'Produto'
		WHEN D2_SERIE = 'U' THEN 'Serviço'
	END AS TIPOPED,
		D2_SERIE,
		D2_DOC,
		D2_PEDIDO,
		D2_ITEMPV,
		D2_COD,
		LTRIM(RTRIM(C6_DESCRI)) AS PROD_DESC,
		CASE 
		WHEN C5_TPPEDVE = 'R' THEN 'Reposição'
		WHEN C5_TPPEDVE = 'A' THEN 'Aquisição'
		WHEN C5_TPPEDVE = 'S' THEN 'Serviço'
		WHEN C5_TPPEDVE = 'O' THEN 'Outros'
	END AS TIPOPED,
		C6_SEGPRI,
		ISNULL(LTRIM(RTRIM(ZSG_DESC)),'') AS SEG_DESC,
		C6_INDPRI,
		ISNULL(LTRIM(RTRIM(ZID_DESC)),'') AS IND_DESC,
		C6_NUMOS,
		ISNULL(AAG_DESCRI,''),
		D2_CLIENTE,
		D2_LOJA,
		ISNULL(LTRIM(RTRIM(A1_NOME)),'') AS CLI_DESC,
		ISNULL((SELECT LTRIM(RTRIM(X5_DESCRI))
		FROM SX5010
		WHERE X5_TABELA='A2'
			AND X5_CHAVE=A1_REGIAO
			AND D_E_L_E_T_<>'*'),'SEM REGIÃO') AS REGIAO,
		ISNULL((SELECT LTRIM(RTRIM(YA_DESCR))
		FROM SYA010
		WHERE A1_PAIS=YA_CODGI
			AND D_E_L_E_T_<>'*'),'SEM PAIS') AS PAIS,
		A1_EST,
		A1_MUN,
		C5_VEND1,
		ISNULL(LTRIM(RTRIM(A3_NOME)),'') AS VEND_DESC,
		D2_CF,
		'VENDA' AS TIPO,
		'VENDA' AS TPDEV,
		CASE  D2_SERIE WHEN 'U' THEN 'SERVICO'
		ELSE  'PRODUTO'
	END AS TIPOSER,
		CASE A1_EST WHEN 'EX' THEN 'EXTERNA'
		ELSE 'INTERNA'
	END AS LOCAL,
		D2_TOTAL AS MERC,
		D2_QUANT AS QTD,
		D2_VALFRE,
		D2_DESPESA,
		D2_DESC,
		D2_BASEICM,
		D2_VALICM,
		D2_BASEIPI,
		D2_VALIPI,
		(D2_TOTAL-D2_DESC) AS BASE,
		CASE A1_EST WHEN 'EX' THEN 0
		ELSE ROUND(((D2_TOTAL-D2_DESC)*1.65)/100,2)
	END AS PIS,
		CASE A1_EST WHEN 'EX' THEN 0
		ELSE ROUND(((D2_TOTAL-D2_DESC)*7.60)/100,2)
	END AS COF,
		CASE A1_EST WHEN 'EX' THEN ROUND(((D2_TOTAL-D2_DESC)*1.65)/100,2)
		ELSE 0
	END AS PISEX,
		CASE A1_EST WHEN 'EX' THEN  ROUND(((D2_TOTAL-D2_DESC)*7.60)/100,2)
		ELSE 0
	END AS COFEX,
		D2_TOTAL+D2_VALFRE+D2_DESPESA+D2_VALIPI AS TOTAL
	FROM SD2010 SD2
		INNER JOIN SF4010 SF4 ON D2_TES=F4_CODIGO
			AND SF4.F4_FILIAL = D2_FILIAL
			AND SF4.D_E_L_E_T_<>'*'
		INNER JOIN SA1010 SA1 ON A1_COD=D2_CLIENTE AND A1_LOJA = D2_LOJA
			AND SA1.D_E_L_E_T_<>'*'
		INNER JOIN SC6010 ON C6_FILIAL = D2_FILIAL
			AND C6_NUM=D2_PEDIDO AND C6_ITEM = D2_ITEMPV
			AND SC6010.D_E_L_E_T_<>'*'
		INNER JOIN SC5010 ON C5_NUM = C6_NUM AND C5_FILIAL = C6_FILIAL
			AND SC5010.D_E_L_E_T_ <>'*'
		LEFT JOIN AB7010 ON AB7_NUMOS+AB7_ITEM = SUBSTRING(C6_NUMOS,1,8) --0002810201
			AND AB7_FILIAL = '0101' AND AB7010.D_E_L_E_T_<>'*'
		LEFT JOIN AAG010 ON AB7_CODPRB = AAG_CODPRB AND AAG010.D_E_L_E_T_<>'*' AND AAG010.AAG_FILIAL='01'
		LEFT JOIN ZSG010 ON ZSG_CODIGO = C6_SEGPRI AND ZSG010.D_E_L_E_T_<>'*' AND ZSG_FILIAL = SC6010.C6_FILIAL
		LEFT JOIN ZID010 ON ZID_CODIGO = C6_INDPRI AND ZID010.D_E_L_E_T_<>'*' AND ZID_FILIAL = SC6010.C6_FILIAL
		LEFT JOIN SA3010 ON A3_COD = C5_VEND1 AND A3_FILIAL='01' AND SA3010.D_E_L_E_T_<>'*'
	WHERE SD2.D_E_L_E_T_<>'*' AND D2_TIPO='N' AND D2_FILIAL='0101' AND SUBSTRING(D2_CF,2,3) IN ('101','102','933','116','501')
		AND D2_EMISSAO >= '20130101'

	-- DEVOLUÇÕES
	INSERT INTO [ANL_ANLCOM]
	SELECT
		SUBSTRING(D1_DTDIGIT,1,4) AS ANO,
		SUBSTRING(D1_DTDIGIT,5,2) AS MES,
		dbo.dateConv(D1_DTDIGIT,2) AS EMISSAO,
		CASE 
		WHEN D2_SERIE = '1' THEN 'Produto'
		WHEN D2_SERIE = 'U' THEN 'Serviço'
	END AS TIPOPED,
		D1_SERIE,
		RTRIM(D1_DOC) +' - Ref: ' +D2_DOC + ' Dt: '+ dbo.dateConv(D2_EMISSAO,1) AS DOC,
		D2_PEDIDO,
		D2_ITEMPV,
		D1_COD,
		LTRIM(RTRIM(D1_COD))+' - ' + LTRIM(RTRIM(B1_DESC)) AS PROD_DESC,
		CASE 
		WHEN C5_TPPEDVE = 'R' THEN 'Reposição'
		WHEN C5_TPPEDVE = 'A' THEN 'Aquisição'
		WHEN C5_TPPEDVE = 'S' THEN 'Serviço'
		WHEN C5_TPPEDVE = 'O' THEN 'Outros'
	END AS TIPOPED,
		C6_SEGPRI,
		ISNULL(LTRIM(RTRIM(ZSG_DESC)),'') AS SEG_DESC,
		C6_INDPRI,
		ISNULL(LTRIM(RTRIM(ZID_DESC)),'') AS IND_DESC,
		C6_NUMOS,
		ISNULL(AAG_DESCRI,''),
		D1_FORNECE,
		D1_LOJA,
		ISNULL(LTRIM(RTRIM(A1_NOME)),'') AS CLI_DESC,
		ISNULL((SELECT LTRIM(RTRIM(X5_DESCRI))
		FROM SX5010
		WHERE X5_TABELA='A2'
			AND X5_CHAVE=A1_REGIAO
			AND D_E_L_E_T_<>'*'),'SEM REGIÃO') AS REGIAO,
		ISNULL((SELECT LTRIM(RTRIM(YA_DESCR))
		FROM SYA010
		WHERE A1_PAIS=YA_CODGI
			AND D_E_L_E_T_<>'*'),'SEM PAIS') AS PAIS,
		A1_EST,
		A1_MUN,
		C5_VEND1,
		ISNULL(LTRIM(RTRIM(A3_NOME)),'') AS VEND_DESC,
		D1_CF,
		'DEVOLUCAO' AS TIPO,
		'VENDA' AS TPDEV,
		CASE  D2_SERIE WHEN 'U' THEN 'SERVICO'
		ELSE  'PRODUTO'
	END AS TIPOSER,
		CASE A1_EST WHEN 'EX' THEN 'EXTERNA'
		ELSE 'INTERNA'
	END AS LOCAL,
		D1_TOTAL * (-1) AS MERC,
		D1_QUANT * (-1) AS QTD,
		D1_VALFRE * (-1),
		D1_DESPESA * (-1),
		D1_DESC * (-1),
		D1_BASEICM * (-1),
		D1_VALICM * (-1),
		D1_BASEIPI * (-1),
		D1_VALIPI * (-1),
		(D1_TOTAL-D1_DESC) * (-1) AS BASE,
		CASE A1_EST WHEN 'EX' THEN 0
		ELSE ROUND(((D1_TOTAL-D1_DESC)*1.65)/100,2) * (-1)
	END AS PIS,
		CASE A1_EST WHEN 'EX' THEN 0
		ELSE ROUND(((D1_TOTAL-D1_DESC)*7.60)/100,2) * (-1)
	END AS COF,
		CASE A1_EST WHEN 'EX' THEN ROUND(((D1_TOTAL-D1_DESC)*1.65)/100,2) * (-1)
		ELSE 0
	END AS PISEX,
		CASE A1_EST WHEN 'EX' THEN  ROUND(((D1_TOTAL-D1_DESC)*7.60)/100,2) * (-1)
		ELSE 0
	END AS COFEX,
		(D1_TOTAL+D1_VALFRE+D1_DESPESA+D1_VALIPI) * (-1) AS TOTAL
	FROM SD1010 SD1
		INNER JOIN SF4010 SF4 ON D1_TES=F4_CODIGO
			AND SF4.F4_FILIAL = D1_FILIAL
			AND SF4.D_E_L_E_T_<>'*'
		INNER JOIN SB1010 ON B1_COD = D1_COD AND SB1010.D_E_L_E_T_<>'*'
		INNER JOIN SA1010 SA1 ON A1_COD=D1_FORNECE AND A1_LOJA = D1_LOJA
			AND SA1.D_E_L_E_T_<>'*'
		LEFT JOIN SD2010 ON D1_NFORI=D2_DOC AND D1_ITEMORI = D2_ITEM AND D1_SERIORI = D2_SERIE
			AND SD2010.D_E_L_E_T_<>'*'
		LEFT JOIN SC6010 ON C6_FILIAL = D2_FILIAL
			AND C6_NUM=D2_PEDIDO AND C6_ITEM = D2_ITEMPV
			AND SC6010.D_E_L_E_T_<>'*'
		LEFT JOIN SC5010 ON C5_NUM = C6_NUM AND C5_FILIAL = C6_FILIAL
			AND SC5010.D_E_L_E_T_ <>'*'
		LEFT JOIN AB7010 ON AB7_NUMOS+AB7_ITEM = SUBSTRING(C6_NUMOS,1,8) --0002810201
			AND AB7_FILIAL = '0101' AND AB7010.D_E_L_E_T_<>'*'
		LEFT JOIN AAG010 ON AB7_CODPRB = AAG_CODPRB AND AAG010.D_E_L_E_T_<>'*' AND AAG010.AAG_FILIAL='01'
		LEFT JOIN ZSG010 ON ZSG_CODIGO = C6_SEGPRI AND ZSG010.D_E_L_E_T_<>'*' AND ZSG_FILIAL = SC6010.C6_FILIAL
		LEFT JOIN ZID010 ON ZID_CODIGO = C6_INDPRI AND ZID010.D_E_L_E_T_<>'*' AND ZID_FILIAL = SC6010.C6_FILIAL
		LEFT JOIN SA3010 ON A3_COD = C5_VEND1 AND A3_FILIAL='01' AND SA3010.D_E_L_E_T_<>'*'
	WHERE D1_TIPO='D' AND SUBSTRING(D1_CF,2,3) IN ('201','202') AND SD1.D_E_L_E_T_<>'*' AND D1_FILIAL='0101'
		AND D1_DTDIGIT >= '2013101'

	/* FIM FATURAMENTO #################################################################  */

	/* INICIO PEDIDOS ABERTOS ##########################################################  */
	IF  EXISTS (SELECT *
	FROM dbo.sysobjects
	WHERE id = OBJECT_ID(N'[dbo].[ANL_PEDABERTO]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[ANL_PEDABERTO]


	CREATE TABLE [ANL_PEDABERTO]
	(
		Id INT IDENTITY(1,1),
		ANO VARCHAR(4),
		MES VARCHAR(2),
		EMISSAO DATE,
		PEDIDO VARCHAR(10),
		ITEMPV VARCHAR(6),
		SITUACAO VARCHAR(15),
		PRODUTO VARCHAR(30),
		PRODUTO_DESC VARCHAR(200),
		TIPOPED VARCHAR(60),
		SEGMENTO VARCHAR(6),
		SEGMENTO_DESC VARCHAR(60),
		INDUSTRIA VARCHAR(6),
		INDUSTRIA_DESC VARCHAR(60),
		OS VARCHAR(10),
		OCORRENCIA_SER VARCHAR(40),
		CLIENTE VARCHAR(6),
		LOJA VARCHAR(4),
		CLIENTE_DESC VARCHAR(150),
		REGIAO VARCHAR(40),
		PAIS VARCHAR(40),
		UF VARCHAR(5),
		CIDADE VARCHAR(70),
		VENDEDOR VARCHAR(6),
		VENDEDOR_DESC VARCHAR(130),
		LOCAL VARCHAR(50),
		PREVENT DATE,
		DATAFAT DATE,
		SERIE VARCHAR(5),
		NOTA VARCHAR(10),
		CF VARCHAR(20),
		MERC NUMERIC(10,3),
		DESCONTO NUMERIC(10,3),
		ALIQIPI NUMERIC(10,3),
		VALIPI NUMERIC(10,3),
		FRETE NUMERIC(10,3),
		TOTAL NUMERIC(10,3)
	)

	INSERT INTO [ANL_PEDABERTO]
	SELECT
		SUBSTRING(C5_EMISSAO,1,4) AS ANO,
		SUBSTRING(C5_EMISSAO,5,2) AS MES,
		dbo.dateConv(C5_EMISSAO,2) AS EMISSAO,
		C6_NUM,
		C6_ITEM,
		CASE
			WHEN  C6_NOTA = '' THEN 'ABERTO'
			ELSE  'FINALIZADO'
		END AS SITUACAO,
		C6_PRODUTO,
		LTRIM(RTRIM(C6_DESCRI)) AS PROD_DESC,
		CASE 
		WHEN C5_TPPEDVE = 'R' THEN 'Reposição'
		WHEN C5_TPPEDVE = 'A' THEN 'Aquisição'
		WHEN C5_TPPEDVE = 'S' THEN 'Serviço'
		WHEN C5_TPPEDVE = 'O' THEN 'Outros'
		ELSE ''
	END AS TIPOPED,
		C6_SEGPRI,
		ISNULL(LTRIM(RTRIM(ZSG_DESC)),'') AS SEG_DESC,
		C6_INDPRI,
		ISNULL(LTRIM(RTRIM(ZID_DESC)),'') AS IND_DESC,
		C6_NUMOS,
		ISNULL(AAG_DESCRI,''),
		C6_CLI,
		C6_LOJA,
		ISNULL(LTRIM(RTRIM(A1_NOME)),'') AS CLI_DESC,
		ISNULL((SELECT LTRIM(RTRIM(X5_DESCRI))
		FROM SX5010
		WHERE X5_TABELA='A2'
			AND X5_CHAVE=A1_REGIAO
			AND D_E_L_E_T_<>'*'),'SEM REGIÃO') AS REGIAO,
		ISNULL((SELECT LTRIM(RTRIM(YA_DESCR))
		FROM SYA010
		WHERE A1_PAIS=YA_CODGI
			AND D_E_L_E_T_<>'*'),'SEM PAIS') AS PAIS,
		A1_EST,
		A1_MUN,
		C5_VEND1,
		ISNULL(LTRIM(RTRIM(A3_NOME)),'') AS VEND_DESC,
		CASE A1_EST WHEN 'EX' THEN 'EXTERNA'
		ELSE 'INTERNA'
	END AS LOCAL
	   , CASE 
			WHEN C6_ENTREG = '' THEN '1900-01-01'
			ELSE dbo.dateConv(C6_ENTREG,2)
		END AS  PREV_ENT
	   , CASE 
			WHEN C6_DATFAT = '' THEN '1900-01-01'
			ELSE dbo.dateConv(C6_DATFAT,2) 
		END AS  DATA_FAT
	   , C6_SERIE
	   , C6_NOTA
	   , F4_CF
	   , C6_VALOR MERC
	   , C6_DESCONT DESCONTO
	   , YD_PER_IPI
	   , CASE
		 WHEN  A1_EST = 'EX' THEN 0
		 ELSE ROUND((C6_VALOR * YD_PER_IPI)/100,2)
		END VALIPI
	   , ROUND((C5_FRETE * ((C6_VALOR * 100)/(SELECT SUM(C6TOT.C6_VALOR)
		FROM SC6010 C6TOT
		WHERE 
					C6TOT.C6_NUM= SC6010.C6_NUM
			AND C6TOT.D_E_L_E_T_<>'*'
			AND C6TOT.C6_CLI = SC6010.C6_CLI
			AND C6TOT.C6_LOJA = SC6010.C6_LOJA)) / 100),2) AS FRETE	
	 , C6_VALOR + CASE
		 WHEN  A1_EST = 'EX' THEN 0
		 ELSE ROUND((C6_VALOR * YD_PER_IPI)/100,2)
		END +			
		ROUND((C5_FRETE * ((C6_VALOR * 100)/(SELECT SUM(C6TOT.C6_VALOR)
		FROM SC6010 C6TOT
		WHERE 
					C6TOT.C6_NUM= SC6010.C6_NUM
			AND C6TOT.D_E_L_E_T_<>'*'
			AND C6TOT.C6_CLI = SC6010.C6_CLI
			AND C6TOT.C6_LOJA = SC6010.C6_LOJA)) / 100),2)  TOTAL
	FROM SC6010
		INNER JOIN SC5010 ON SC5010.D_E_L_E_T_<>'*'
			AND SC5010.C5_FILIAL = C6_FILIAL
			AND C5_NUM = C6_NUM
		INNER JOIN SA1010 ON A1_COD = C5_CLIENTE
			AND A1_LOJA = C5_LOJACLI
			AND SA1010.D_E_L_E_T_<>'*'
		INNER JOIN SB1010 ON B1_COD = C6_PRODUTO
			AND SB1010.D_E_L_E_T_<>'*'
		LEFT JOIN SA3010 ON A3_COD=C5_VEND1
			AND SA3010.D_E_L_E_T_<>'*'
		LEFT JOIN SYD010 ON YD_TEC = B1_POSIPI
			AND YD_FILIAL = '01' AND SYD010.D_E_L_E_T_<>'*'
		INNER JOIN SF4010 SF4 ON C6_TES=F4_CODIGO
			AND SF4.F4_FILIAL = C6_FILIAL
			AND SF4.D_E_L_E_T_<>'*'
		LEFT JOIN AB7010 ON AB7_NUMOS+AB7_ITEM = SUBSTRING(C6_NUMOS,1,8) --0002810201
			AND AB7_FILIAL = '0101' AND AB7010.D_E_L_E_T_<>'*'
		LEFT JOIN AAG010 ON AB7_CODPRB = AAG_CODPRB AND AAG010.D_E_L_E_T_<>'*' AND AAG010.AAG_FILIAL='01'
		LEFT JOIN ZSG010 ON ZSG_CODIGO = C6_SEGPRI AND ZSG010.D_E_L_E_T_<>'*' AND ZSG_FILIAL = SC6010.C6_FILIAL
		LEFT JOIN ZID010 ON ZID_CODIGO = C6_INDPRI AND ZID010.D_E_L_E_T_<>'*' AND ZID_FILIAL = SC6010.C6_FILIAL

	WHERE  SC6010.D_E_L_E_T_<> '*' AND C6_FILIAL='0101'
		AND SC5010.C5_TIPO = 'N' AND SUBSTRING(F4_CF,2,3) IN ('101','102','933','116','501')
	ORDER BY C5_NUM


	-- #### INICIO ORÇAMENTO #####################################################
	IF  EXISTS (SELECT *
	FROM dbo.sysobjects
	WHERE id = OBJECT_ID(N'[dbo].[ANL_ORCXPEDXFAT]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[ANL_ORCXPEDXFAT]


	CREATE TABLE [ANL_ORCXPEDXFAT]
	(
		Id INT IDENTITY(1,1),
		ANOORC VARCHAR(4),
		MESORC VARCHAR(2),
		EMISSAOORC DATE,
		NUMORC VARCHAR(10),
		ITEMORC VARCHAR(6),
		SITUACAO VARCHAR(50),
		ANOPV VARCHAR(4) ,
		MESPV VARCHAR(2),
		EMISSAOPV DATE,
		PEDIDOPV VARCHAR(10),
		ITEMPV VARCHAR(6),
		PRODUTO VARCHAR(30),
		PRODUTO_DESC VARCHAR(200),
		TIPOPED VARCHAR(60),
		SEGMENTO VARCHAR(6),
		SEGMENTO_DESC VARCHAR(60),
		INDUSTRIA VARCHAR(6),
		INDUSTRIA_DESC VARCHAR(60),
		OS VARCHAR(10),
		OCORRENCIA_SER VARCHAR(40),
		CLIENTE VARCHAR(6),
		LOJA VARCHAR(4),
		CLIENTE_DESC VARCHAR(150),
		REGIAO VARCHAR(40),
		PAIS VARCHAR(40),
		UF VARCHAR(5),
		CIDADE VARCHAR(70),
		VENDEDOR VARCHAR(6),
		VENDEDOR_DESC VARCHAR(130),
		LOCAL VARCHAR(50),
		PREVENT_ORC DATE,
		PRAZO_DIAS_ORC INT,
		PREVENT_PED DATE,
		PREV_REAL_PED DATE,
		DIAS_ENTREGA INT,
		DATAFAT DATE,
		ATRASO_DIAS INT,
		SERIE VARCHAR(5),
		NOTA VARCHAR(10),
		CF VARCHAR(20),
		MERCORC NUMERIC(10,3),
		DESCONTOORC NUMERIC(10,3),
		ALIQIPIORC NUMERIC(10,3),
		VALIPIORC NUMERIC(10,3),
		FRETEORC NUMERIC(10,3),
		TOTALORC NUMERIC(10,3),
		MERC NUMERIC(10,3),
		DESCONTO NUMERIC(10,3),
		VALIPI NUMERIC(10,3),
		FRETE NUMERIC(10,3),
		TOTAL NUMERIC(10,3)
	)

	INSERT INTO [ANL_ORCXPEDXFAT]
	SELECT
		SUBSTRING(CJ_EMISSAO,1,4) AS ANOORC,
		SUBSTRING(CJ_EMISSAO,5,2) AS MESORC,
		dbo.dateConv(CJ_EMISSAO,2) AS EMISSAOORC,
		CJ_NUM,
		CK_ITEM,
		CASE
			WHEN  CK_NUMPV = '' THEN 'ITEM ORC. ABERTO'
			WHEN C6_NOTA = '' 	THEN 'ITEM COM PEDIDO PENDENTE'
			WHEN C6_QTDVEN > C6_QTDENT THEN 'FATURADO PARCIAL'
			WHEN C6_QTDVEN = C6_QTDENT THEN 'FATURADO'
			WHEN CJ_STATUS = 'B' THEN 'CANCELADO'
			ELSE  'VER'
		END AS SITUACAO,
		ISNULL(SUBSTRING(C5_EMISSAO,1,4),'') AS ANOPV,
		ISNULL(SUBSTRING(C5_EMISSAO,5,2),'') AS MESPV,
		ISNULL(dbo.dateConv(C5_EMISSAO,2),'') AS EMISSAOPV,
		ISNULL(C6_NUM,''),
		ISNULL(C6_ITEM,''),
		ISNULL(CK_PRODUTO,''),
		LTRIM(RTRIM(CK_DESCRI)) AS PROD_DESC,
		CASE 
		WHEN C5_TPPEDVE = 'R' THEN 'Reposição'
		WHEN C5_TPPEDVE = 'A' THEN 'Aquisição'
		WHEN C5_TPPEDVE = 'S' THEN 'Serviço'
		WHEN C5_TPPEDVE = 'O' THEN 'Outros'
		ELSE ''
	END AS TIPOPED,
		ISNULL(C6_SEGPRI,''),
		ISNULL(LTRIM(RTRIM(ZSG_DESC)),'') AS SEG_DESC,
		ISNULL(C6_INDPRI,''),
		ISNULL(LTRIM(RTRIM(ZID_DESC)),'') AS IND_DESC,
		ISNULL(C6_NUMOS,''),
		ISNULL(AAG_DESCRI,''),
		ISNULL(CK_CLIENTE,''),
		ISNULL(CK_LOJA,''),
		ISNULL(LTRIM(RTRIM(A1_NOME)),'') AS CLI_DESC,
		ISNULL((SELECT LTRIM(RTRIM(X5_DESCRI))
		FROM SX5010
		WHERE X5_TABELA='A2'
			AND X5_CHAVE=A1_REGIAO
			AND D_E_L_E_T_<>'*'),'SEM REGIÃO') AS REGIAO,
		ISNULL((SELECT LTRIM(RTRIM(YA_DESCR))
		FROM SYA010
		WHERE A1_PAIS=YA_CODGI
			AND D_E_L_E_T_<>'*'),'SEM PAIS') AS PAIS,
		A1_EST,
		A1_MUN,
		ISNULL(C5_VEND1,''),
		ISNULL(LTRIM(RTRIM(A3_NOME)),'') AS VEND_DESC,
		CASE A1_EST WHEN	'EX' THEN 'EXTERNA'
		ELSE 'INTERNA'
	END AS LOCAL
	 , ISNULL(CASE 
			WHEN CK_ENTREG = '' THEN '1900-01-01'
			ELSE dbo.dateConv(CK_ENTREG,2)
		END,'') AS  PREV_ENT_ORC
	, DATEDIFF(DAY,CJ_EMISSAO,CK_ENTREG) PRAZO_DIAS
	   , ISNULL(CASE 
			WHEN C6_ENTREG = '' THEN '1900-01-01'
			ELSE dbo.dateConv(C6_ENTREG,2)
		END,'') AS  PREV_ENT_PED
		
		, ISNULL(DATEADD(DAY,DATEDIFF(DAY,CJ_EMISSAO,CK_ENTREG),C5_EMISSAO),'') PRAZO_REAL
		, ISNULL(DATEDIFF(DAY,CJ_EMISSAO,C6_DATFAT),0) ENTREGA_TEMPO
	   , ISNULL(CASE 
			WHEN C6_DATFAT = '' THEN '1900-01-01'
			ELSE dbo.dateConv(C6_DATFAT,2) 
		END,'') AS  DATA_FAT
		, ISNULL(DATEDIFF(DAY,DATEADD(DAY,DATEDIFF(DAY,CJ_EMISSAO,CK_ENTREG),C5_EMISSAO),C6_DATFAT),'')
	   , ISNULL(C6_SERIE,'')
	   , ISNULL(C6_NOTA,'')
	   , ISNULL(F4_CF,'')
	   , ISNULL(CK_VALOR,0) MERC
	   , ISNULL(CK_DESCONT,0) DESCONTO
	   , ISNULL(YD_PER_IPI,0)
	   , ISNULL(CASE
		 WHEN  A1_EST = 'EX' THEN 0
		 ELSE ROUND((CK_VALOR * YD_PER_IPI)/100,2)
		END,0) VALIPI
	   , ISNULL(ROUND((CJ_FRETE * ((CK_VALOR * 100)/(SELECT SUM(CKTOT.CK_VALOR)
		FROM SCK010 CKTOT
		WHERE 
					CKTOT.CK_NUM= SCK010.CK_NUM
			AND CKTOT.D_E_L_E_T_<>'*'
			AND CKTOT.CK_CLIENTE = SCK010.CK_CLIENTE
			AND CKTOT.CK_FILIAL = SCK010.CK_FILIAL
			AND SCK010.CK_VALOR <>0
			AND CKTOT.CK_LOJA = SCK010.CK_LOJA)) / 100),2),0) AS FRETE	
	 , ISNULL(CK_VALOR + CASE
		 WHEN  A1_EST = 'EX' THEN 0
		 ELSE ROUND((CK_VALOR * YD_PER_IPI)/100,2)
		END +			
		ROUND((CJ_FRETE * ((CK_VALOR * 100)/(SELECT SUM(CKTOT.CK_VALOR)
		FROM SCK010 CKTOT
		WHERE 
					CKTOT.CK_NUM= SCK010.CK_NUM
			AND CKTOT.D_E_L_E_T_<>'*'
			AND CKTOT.CK_CLIENTE = SCK010.CK_CLIENTE
			AND SCK010.CK_VALOR <>0
			AND CKTOT.CK_LOJA = SCK010.CK_LOJA)) / 100),2),0)  TOTAL

	   , ISNULL(C6_VALOR,0) MERC
	   , ISNULL(C6_DESCONT,0) DESCONTO
	   , ISNULL(CASE
		 WHEN  A1_EST = 'EX' THEN 0
		 ELSE ROUND((C6_VALOR * YD_PER_IPI)/100,2)
		END,0) VALIPI
	   , ISNULL(ROUND((C5_FRETE * ((C6_VALOR * 100)/(SELECT SUM(C6TOT.C6_VALOR)
		FROM SC6010 C6TOT
		WHERE 
					C6TOT.C6_NUM= SC6010.C6_NUM
			AND C6TOT.D_E_L_E_T_<>'*'
			AND C6TOT.C6_CLI = SC6010.C6_CLI
			AND C6TOT.C6_LOJA = SC6010.C6_LOJA)) / 100),2),0) AS FRETE	
	 , ISNULL(C6_VALOR + CASE
		 WHEN  A1_EST = 'EX' THEN 0
		 ELSE ROUND((C6_VALOR * YD_PER_IPI)/100,2)
		END +			
		ROUND((C5_FRETE * ((C6_VALOR * 100)/(SELECT SUM(C6TOT.C6_VALOR)
		FROM SC6010 C6TOT
		WHERE 
					C6TOT.C6_NUM= SC6010.C6_NUM
			AND C6TOT.D_E_L_E_T_<>'*'
			AND C6TOT.C6_CLI = SC6010.C6_CLI
			AND C6TOT.C6_LOJA = SC6010.C6_LOJA)) / 100),2),0)  TOTAL
	FROM SCK010 INNER JOIN SCJ010
		ON	CJ_NUM = CK_NUM
			AND SCJ010.D_E_L_E_T_<>'*'
			AND CK_FILIAL = CJ_FILIAL
		LEFT JOIN SC6010 ON CK_NUM+CK_ITEM = C6_NUMORC
			AND SC6010.D_E_L_E_T_<>'*'
			AND C6_FILIAL=CK_FILIAL
		LEFT JOIN SC5010 ON SC5010.D_E_L_E_T_<>'*'
			AND SC5010.C5_FILIAL = C6_FILIAL
			AND C5_NUM = C6_NUM
		INNER JOIN SA1010 ON A1_COD = CJ_CLIENTE
			AND A1_LOJA = CJ_LOJA
			AND SA1010.D_E_L_E_T_<>'*'
		INNER JOIN SB1010 ON B1_COD = CK_PRODUTO
			AND SB1010.D_E_L_E_T_<>'*'
		LEFT JOIN SA3010 ON A3_COD=C5_VEND1
			AND SA3010.D_E_L_E_T_<>'*'
		LEFT JOIN SYD010 ON YD_TEC = B1_POSIPI
			AND YD_FILIAL = '01' AND SYD010.D_E_L_E_T_<>'*'
		INNER JOIN SF4010 SF4 ON CK_TES=F4_CODIGO
			AND SF4.F4_FILIAL = CK_FILIAL
			AND SF4.D_E_L_E_T_<>'*'
		LEFT JOIN AB7010 ON AB7_NUMOS+AB7_ITEM = SUBSTRING(C6_NUMOS,1,8) --0002810201
			AND AB7_FILIAL = '0101' AND AB7010.D_E_L_E_T_<>'*'
		LEFT JOIN AAG010 ON AB7_CODPRB = AAG_CODPRB AND AAG010.D_E_L_E_T_<>'*' AND AAG010.AAG_FILIAL='01'
		LEFT JOIN ZSG010 ON ZSG_CODIGO = C6_SEGPRI AND ZSG010.D_E_L_E_T_<>'*' AND ZSG_FILIAL = SC6010.C6_FILIAL
		LEFT JOIN ZID010 ON ZID_CODIGO = C6_INDPRI AND ZID010.D_E_L_E_T_<>'*' AND ZID_FILIAL = SC6010.C6_FILIAL

	WHERE  SCK010.D_E_L_E_T_<> '*' AND CK_FILIAL='0101'
	ORDER BY CK_NUM

	UPDATE ANL_ANLCOM SET OS='',OCORRENCIA_SER='' WHERE TIPONF='Produto'




	-- #### INICIO CLIENTES PRIMEIRA EUKTIMACOMPRA #####################################################	
	IF  EXISTS (SELECT *
	FROM dbo.sysobjects
	WHERE id = OBJECT_ID(N'[dbo].[ANL_CLIENTES]') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[ANL_CLIENTES]


	CREATE TABLE [ANL_CLIENTES]
	(
		Id INT IDENTITY(1,1),
		CODIGO VARCHAR(10),
		LOJA VARCHAR(4),
		RAZAO VARCHAR(200),
		REGIAO VARCHAR(100),
		PAIS VARCHAR(100),
		UF VARCHAR(100),
		CIDADE VARCHAR(100),
		BAIRRO VARCHAR(100),
		ENDERECO VARCHAR(200),
		PRIM_COMPRA DATE,
		ULT_COMPRA DATE
	)


	INSERT INTO [ANL_CLIENTES]
	select
		A1_COD AS CODIGO,
		A1_LOJA AS LOJA,
		A1_NOME AS RAZAO,
		ISNULL((SELECT LTRIM(RTRIM(YA_DESCR))
		FROM SYA010
		WHERE A1_PAIS=YA_CODGI
			AND D_E_L_E_T_<>'*'),'SEM PAIS') AS PAIS,
		ISNULL((SELECT LTRIM(RTRIM(X5_DESCRI))
		FROM SX5010
		WHERE X5_TABELA='A2'
			AND X5_CHAVE=A1_REGIAO
			AND D_E_L_E_T_<>'*'),'SEM REGIÃO') AS REGIAO,
		A1_EST UF,
		A1_MUN UF,
		A1_BAIRRO,
		A1_END
	, dbo.dateConv(CASE 
					WHEN A1_PRICOM = '' THEN '19000101'
					ELSE A1_PRICOM
					END,2) PRIM_COMPRA
	, dbo.dateConv(CASE 
					WHEN A1_ULTCOM = '' THEN '19000101'
					ELSE A1_ULTCOM
					END,2) ULT_COMPRA
	FROM
		SA1010

	WHERE (D_E_L_E_T_<>'*' AND
		A1_COD IN (SELECT C5_CLIENTE
		FROM SC5010
		WHERE D_E_L_E_T_<>'*' AND C5_TIPO = 'N' AND C5_FILIAL='0101') ) OR
		(D_E_L_E_T_<>'*' AND
		A1_COD IN (SELECT CJ_CLIENTE
		FROM SCJ010
		WHERE D_E_L_E_T_<>'*' AND CJ_FILIAL='0101') )
	ORDER BY A1_PRICOM

	SELECT *
	FROM ANL_ANLCOM
	SELECT *
	FROM ANL_PEDABERTO
	SELECT *
	FROM ANL_ORCXPEDXFAT
	SELECT *
	FROM ANL_CLIENTES


END	

